.navbox {
   width: 100%;
   font-size: smaller;
   padding: 12px;
   background: var(--light-bg-primary);
}

.navbox:hover {
   background: var(--bs-secondary);
   color: var(--light-bg-primary)
}

.lwbMenubar {
   background: var(--light-bg-primary);
   width: 15%;
}

.lwbPopup {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -50px;
   margin-left: -50px;
   width: 100px;
   height: 100px;
   background-color: aqua;
   z-index: 1;
}