.lwbStateNode {
    height: auto;
    border: 1px solid #eee;
    padding: 6%;
    border-radius: 15px;
    background: white;
    color: var(--light-text-primary);
    font-size: 12px;
  }
  
.lwbStateNodeDivider
{
  width: 112%;
  border-top: 0.5px solid #eee;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  left: -6%;
}
  